//main site colors
$color-primary: #24292e;
$color-secundary: #FF7F1F;
$color-background-light: #FFF;
$color-background-grey: #dcdcdc;

//text colors
$color-text-primary:#94949E;
$color-text-light:#F3F5F8;
$color-text-dark: #000;
$color-text-white: #FFF;
